header {
    background-color: var(--color-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8em;
  }
  .header-titulo{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .contenedor-botones{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .button {
    margin: 2%;
    transition: background-color 0.2s;
    font-size: 14px;
    cursor: pointer;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-backgroud);
    padding: 0 2em;
  }
  .meme-container{ 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 5%;
   margin-top: 1%;
   margin-bottom: 3%;
   position: relative;
  }
  .canvas{
    width: 100%;
    height: 18.75em;
    background-size: cover;
    background-position: center;
    background-color: black;
  }
  .meme-text{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 800;
    background-color: rgb(253, 243, 243);
    padding: 0.4em 1.875em;
  }
  .boton-descargar{
    margin-top: 5%;
    margin-bottom: 11%;
    padding: 0.18em 0.9em;
    background-color: #2e7d32;
    color: white;
  }
  /*apariencia sliders*/
  
  input[type='range'] {
    display: block;
    width: 100%;
    height: 2em;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type=range]::-webkit-slider-thumb {
    background-color: var(--color-text);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-top: -6px;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background-color: var(--color-boton-default);
    height: 3px;
  }